body {
    font-family: Mulish, sans-serif;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #29292E;
    --text-color-error: #f1244d;
    --bg: #fff;
    --bg-accent-color: #237943;
    --text-accent-color: #fff;
    --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    --radius: 8px;
    --border-input : 2px solid #E3E1E1;
    --border-input-focus : 2px solid var(--bg-accent-color);
    --input-height : 51px;
}
.elements {
    text-align: center;
}